.navbar
{
display: flex;
 justify-content: space-evenly;
 align-items: center;

}
ul
{
    display: flex;
}
li
{
    display: inline-block;
    top: 0px;
    margin: 20px;
}
.navbar button
{
    height: 48px;
    width: 120px;
    text-align: center;
}

li:hover{
    color: orange;
    cursor: pointer;
}
.heading 
{
    display: flex;
    justify-content: space-evenly;
}


.heading-left{
    margin-top: 70px;
}
.heading-right
{
    padding-top: 120px;
}
.orange{
    background-color: #e85d00;
    height: 48px;
    width: 130px;
    font-size: 1.2em;
    text-align: center;
    border: none;
    color: white;   
}

.white{
    background-color: white;
    height: 48px;
    width: 130px;
    font-size: 1.2em;
    text-align: center;
}

.heading h1{
    font-size: 3em;
}
.img1{
    background-color: aqua;
   border-radius: 5px;
   height: 35px;
   width: 35px;
}
.img2
{
    background-color: orangered;
    border-radius: 5px;
    height: 35px;
   width: 35px;
    
}
.img3
{
    background-color: #4000ff;
    border-radius: 5px;
    height: 35px;
   width: 35px;
}
.cards
{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 172px;
    padding-left: 100px;
}

.footer{
    background-color: #5c206a;
    color: white;
    height: 250PX;
}
